.body{
    background-color: rgb(0, 0, 0);
    font-size: 15pt;
    font-family: Calibri;
    text-align: center;
}

.Main{
  Background-color: white;
}

.Images1{
  border: 13px solid rgb(9, 21, 64);
}

.Footer{
  background-color: rgb(42, 45, 52);
  color: white;
}

.body2 {
  background-color: rgb(0, 0, 0);
  font-size: 15pt;
  font-family: Calibri;
}

.Header{
 background-color: rgb(42, 45, 52);
 color: white;
}

.Main1{
  Background-color: white;
}

.Content{
  Margin-left: 5%;
}

.Main2 {
  Background-color: rgb(232, 241, 242);
  width: 50%;
}

.Images{
  float: right;
}

.Images2{
  margin-top: 25%;
  margin-bottom: 25%;
  border: 13px solid rgb(9, 21, 64);
}

